# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# environment variables
.env
.env*.local
.env.local
.env.production
.env.development
.env.jira
!.env.example
.env.sentry-build-plugin

# testing
coverage/

# build & caches (Next.js, Laravel, generic)
.next/
out/
build/
dist/
.cache/

# OS & IDE
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel/
