@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */
@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .animate-on-scroll-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  .fade-in-page {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}

/* animation elements */
/* @layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    opacity: 0;

    animation: fadeIn 1s ease-out forwards;
  }

  .animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .animate-on-scroll-visible {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-in-page {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
}

/* on loading page fade in

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
} */

/* 
 */
